.kgo-scroll-sty{
    width:100%;
    height:200px;
    margin:0 auto;
    border:1px solid #364a5f;
    line-height:26px;
    font-size:16px;
    overflow:hidden
}
.kgo-scroll-sty>ul{
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:#fff
}
.kgo-scroll-sty>ul>li{
    color:#393939
}
.kgo-scroll-head{
    margin-bottom:15px;
    height:40px;
    background-color:#364a5f;
    color:#fff;
    font-size:17px;
    font-weight:800;
    padding-top:5px;
    z-index:999
}
.baseStyle{
    display:inline-block;
    height:100%;
    text-align:center;
    margin-left:20px;
    padding-top:3px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:3px;
}
.kgo-scroll-sty li{
    height:30px
}

.croll-width{
	width:170px;
	height:50px;
}	
/*偶数行样式*/
.evenRowStyle{
	background-color: #f8f8f8;
}
/*访问样式*/
.rowhover{
background-color: #52c1a1;
color: #FFF;
font-weight: bold;
}

